* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: darkslateblue;
}

.board-container {
    width: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.board {
    width: 420px;
    height: 420px;
    position: relative;
    border: 10px solid transparent;
    border-color: #657;
    background-color: white;
}

.cube {
    width: 10px;
    height: 10px;
    background-color: blue;
    position: absolute;
    left: 0px;
    top: 0px;
    border: 1px solid transparent;
    border-color: grey;
}

#food {
    background-color: red;
}

.settings {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

input {
    text-align: center;
    background-color: green;
}

button {
    background-color: yellow;
}

.level-button {
    color: Red;
}