* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.board-section {
    background-color: black;
}

.board-container {
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.board {
    width: 320px;
    height: 320px;
    position: relative;
    border: 10px solid transparent;
    border-color: #657;
}

.cube {
    width: 10px;
    height: 10px;
    background-color: blue;
    position: absolute;
    left: 0px;
    top: 0px;
    border: 1px solid transparent;
    border-color: grey;
}

#food {
    background-color: red;
}

.settings {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

input {
    text-align: center;
}